- provide(:title, 'Log in')
.row
  .col-md-3.col-md-offset-3.container
    %h1.text-center Log in
    = form_for(:session, url: login_path) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control'
        = f.label :password
        = f.password_field :password, class: 'form-control'
        = f.label :remember_me, class: 'checkbox inline' do
          = f.check_box :remember_me
          %span Remember me on this computer
      .form-group.col-md-12.text-center
        = f.submit 'Log in', class: 'btn btn-primary'
      New user? #{link_to 'Sign up now!', new_user_path}